.checkbox-field {
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.checkbox-field input {
    font: 400 14px Roboto-Regular;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
    height: 20px;
    width: 20px;
    outline: none;
}

.checkbox-field input:hover {
    background-color: #9E9E9E;
}