.main__body-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    position: sticky;
    left: 0;
    z-index: 10;
    font: 400 14px Roboto-Regular;
}

.main__body-function .function-left {
    display: flex;
    position: relative;
    align-items: center;
}

.main__body-function .function-right {
    display: flex;
    position: relative;
    align-items: center;
}

.main__body-function .function__search {
    display: flex;
    position: relative;
    align-items: center;
    width: 260px;
    margin-right: 6px;
}

.main__body-function .btn-reload {
    background-position: -423px -200px;
}

.main__body-function .btn-reload:hover {
    background-position: -1095px -88px;
}

.main__body-function .btn-export {
    background-position: -705px -200px;
}

.main__body-function .btn-export:hover {
    background-position: -1265px -88px;
}

.main__body-function .btn-filter {
    background-position: -88px -200px;
}

.main__body-function .btn-filter:hover {
    background-position: -88px -256px;
}

.main__body-function .btn-search {
    position: absolute;
    right: 1px;
    background-position: -416px -28px;
}

.function-left button~button {
    margin-left: 8px;
}

.function-left .button-text {
    background-color: transparent;
}

.function-left .button-text:hover,
.function-left .button-text:focus {
    background-color: #e6f6f3;
}

.function-left .batch-unselect {
    font: 400 14px Roboto-Regular;
    color: #e60000;
}

.function-left .batch-select {
    color: #007aff;
}

.function-left .btn-batch {
    font: 400 14px Roboto-Regular;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 4px;
}

.function-left .btn-batch:hover,
.function-left .btn-batch:focus {
    background-color: #e6f6f3;
}

.function-left .batch-more {
    height: 36px;
    width: 36px;
    padding: 0 8px;
    outline: none;
}

.function-left .more-icon {
    background-position: -1031px -359px;
    background-color: transparent;
}

.function-left .combobox__data {
    top: calc(100% + 4px);
    right: 45%;
    bottom: unset;
    width: auto;
    z-index: 10;
}

.input-main::placeholder {
    color: #9e9e9e;
}

.function-left__count__selected {
    margin-right: 8px;
}