.main__body-table {
    display: flex;
    position: relative;
    background-color: #ffffff;
}

table {
    font: 700 14px Roboto-Bold;
    z-index: 2;
    min-width: calc(100% + 24px);
    border-spacing: 0;
    box-sizing: border-box;
}

table tr {
    outline: none;
    position: relative;
}

table th,
table td {
    white-space: nowrap;
    height: 48px;
    max-height: 48px;
    min-height: 48px;
    padding: 0 16px;
}

table thead th {
    position: sticky;
    text-align: center;
    top: -85px;
    z-index: 5;
    background-color: #eeeeee;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

table tbody td {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    font: 400 14px Roboto-Regular;
}

tr:first-child th:nth-child(2) {
    border-top-left-radius: 4px;
}

tr:first-child th:nth-last-child(3) {
    border-top-right-radius: 4px;
}

tr:last-child td:nth-child(2) {
    border-bottom-left-radius: 4px;
}

tr:last-child td:nth-last-child(3) {
    border-bottom-right-radius: 4px;
}

tr th.ms-hidden,
tr td.ms-hidden {
    position: sticky;
    border: unset;
    padding: 0;
    cursor: auto;
}

tr td:first-child,
tr th:first-child,
tr td:nth-last-child(2),
tr th:nth-last-child(2) {
    left: 0;
    right: 0;
    z-index: 10;
    min-width: 16px;
    max-width: 16px;
    width: 16px;
    background-color: #ffffff;
}

tr th:last-child,
tr td:last-child {
    right: -24px;
    z-index: 5;
    min-width: 24px;
    max-width: 24px;
    width: 24px;
    background-color: #f7f7f7;
}

tr th.ms-sticky,
tr td.ms-sticky {
    position: sticky;
    left: 16px;
    right: 16px;
}

tr th:nth-last-child(3),
tr td:nth-last-child(3) {
    border-right: 1px solid #e0e0e0;
}

tr th:nth-child(2),
tr td:nth-child(2) {
    border-left: 1px solid #e0e0e0;
    border-right: 2px dotted #e0e0e0;
}

tr th:nth-child(2) {
    z-index: 10;
}

tr:hover>th.ms-th-viewer {
    cursor: pointer;
}

tr:hover>td.ms-td-viewer {
    background-color: #e6f6f3;
}

tr:focus>td.ms-td-viewer,
tr:has(input:checked)>td.ms-td-viewer {
    background-color: #ccece7;
}

.tr-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    width: 100%;
}

.tr-checkbox input {
    height: 20px;
    width: 20px;
    cursor: pointer;
    outline: none;
    border-width: 3px;
}

.td-context-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.td-context-menu .combobox__button {
    position: relative;
    border: 1px solid transparent;
    border-radius: 4px;
    background-position: -887px -351px;
    margin-left: 8px;
}

.td-context-menu .combobox__button:hover {
    background-color: #99dad0;
}

.td-context-menu .combobox__button:focus {
    background-color: transparent;
    border: 1px solid #01836f;
}

.td-context-menu .btn-edit {
    border: unset;
    background-color: transparent;
    font-weight: 600;
    color: #01836f;
    cursor: pointer;
    z-index: 5;
    outline: none;
}

tr .combobox__data {
    right: 16px;
    z-index: 999;
    width: auto;
    font: 400 14px Roboto-Regular;
}

.ms-th-viewer,
.ms-td-viewer {
    border-left: 2px dotted #e0e0e0;
}

th:nth-child(3),
td:nth-child(3) {
    border-left: unset;
}