.main__body-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
    z-index: 10;
}

.main__body-footer .combobox {
    min-width: 200px;
}

.body__footer-right .btn {
    border: unset;
    background-color: transparent;
}

.body__footer-right .pagination {
    display: flex;
    align-items: center;
    height: 36px;
}

.pagination .btn-pagination {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.pagination .btn-pagination:hover {
    background-color: #E0E0E0;
}

.pagination .active-item,
.pagination .active-item:hover {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #50B83C;
}