@font-face {
    font-family: Roboto-Bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

html {
    overflow: unset !important;
}

body {
    margin: 0;
}

.container {
    display: flex;
    background-color: #f7f7f7;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 200px);
    flex: 1;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 0 24px;
    font: 500 14px Roboto-Medium;
    height: calc(100vh - 56px);
}

.main .main-header {
    padding: 24px 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: calc(100% - 57px);
    background-color: #f7f7f7;
}

.main__header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .main-body {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 84px 24px 0 0;
    overflow: auto;
    height: 100%;
}

.main__header-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Roboto-Bold;
    line-height: 26px;
}

.main__header-add .btn-add {
    color: #ffffff;
}

.input-main {
    height: 36px;
    width: 100%;
    padding: 0 8px 0 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
    box-sizing: border-box;
}

.input-main::placeholder {
    color: #9e9e9e;
}

.input-main:hover,
.input-main:hover~.btn-search {
    background-color: #f6f6f6;
}

.input-main:focus {
    border: 1px solid #50b83c;
    background-color: #ffffff;
}

.input-main:focus~.btn-search {
    background-color: #ffffff;
}

.main .main__icon {
    background-color: unset;
    height: 24px;
    width: 24px;
    margin: 0 6px;
}

.btn-seclectdown {
    background-position: -564px -365px;
}

.align-center {
    justify-content: center;
    align-items: center;
}

.progress {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(85, 79, 79, 0.2);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.main__body-no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: sticky;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10;
    font: 700 16px Roboto-Bold;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
}

.main__body-no-data .btn-add {
    margin-top: 16px;
    color: #ffffff;
}